html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0 0 30px;
  width: 750px;
  font: 100%/1.4 "Source Sans Pro", "Lucida Grande", Lucida, sans-serif;
  color: #333;
}

h1 {
  margin: 60px 0px 10px;
  color: #444;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 250%;
  font-weight: 200;
  line-height: 1.2;
}

#aboutme {
    float: left;
    border-top: 1px solid #888;
    border-bottom: 1px solid #aaa;
    margin: 0px 0 25px;
    padding: 30px 0 30px;
    width: 100%;
}

#aboutme p {
    display: block; 
    float:   left; 
    width:   290px;
    margin:  12px 0 0;
}

#aboutme img {
  float: left;
  width: 135px;
  height: 135px;
  margin: 0 25px 0 5px;
  padding: 0;
  border: 1px solid #666;
}

p {
  line-height: 1.3em;
  margin: 20px 5px 0;
}

a {
  color: #0082f9;
  text-decoration: none;
}

a:hover {
  background-color: #fefa8c;  
}

strong {
  font-weight: 600;
  color: #424242;
}

em {
  font-style: italic;
}

ul {
  margin: 8px 5px 0;
  padding: 0 0 0 40px;
  list-style-type: circle;
}

li {
  margin: 3px 0;
}
